<div class="my-3">
  <h2>Concate Operator:<span style="color: red;">{{concats}}</span></h2>
  <br />
  <div class="row">
    <div class="col md-4">
      <strong>Source-1| Tech Chanel(5)</strong>
      <p class="bg-light py-3 px-3 border rounded">
        <strong>Tech Video List:1,2,3,4,5</strong>
      </p>
    </div>
    <div class="col md-4">
      <strong>Source-2| comedy channel(3)</strong>
      <p class="bg-light py-3 px-3 border rounded">
        <strong>Comedy Video List:1,2,3, </strong>
      </p>
    </div>
    <div class="col md-4">
      <strong>Source-3| News channel(3)</strong>
      <p class="bg-light py-3 px-3 border rounded">
        <strong>News Video List:1,2,3 </strong>
      </p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Your channel (subscriber)
        </div>
        <div class="card-body">
          <ul id="elContainer" class="list-group">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
