<div class="my-3" [ngStyle]="{'color':myColor}">
  <h1>Tab</h1>
  <div class="row">
    <div class="col-md-4">
      <strong>Ex-1</strong>
      <p class="bg-light py-3 px-3 border rounded">
        <strong>Data:</strong>
      </p>
      <ul class="list-group" id="elContainer">
       
      </ul>
    </div>
    <div class="col-md-4" >
      <strong>Ex-2</strong>
      <p class="bg-light py-3 px-3 border rounded">
        <strong>Data:Colors</strong>
      </p>
      <ul class="list-group" id="elContainer2" >
      
      </ul>
    </div>
    <div class="col-md-4">
      <strong>Ex-3</strong>
      <p class="bg-light py-3 px-3 border rounded">
        <strong>Data:</strong>
      </p>
      <ul class="list-group">
        <li class="list-group">1</li>
        <li class="list-group">2</li>
        <li class="list-group">3</li>
      </ul>
    </div>
  </div>
</div>
