<div class="row">
  <div class="col-md-12">
    <ul class="list">
      <li>
        <a routerLink="fromEvent">fromEvent</a>
      </li>
      <li>
        <a routerLink="interval">Interval</a>
      </li>
      <li>
        <a routerLink="ofFrom">OfFrom</a>
      </li>
      <li>
        <a routerLink="fromEvent">fromEvent</a>
      </li>
      <li>
        <a routerLink="toArray">ToArray</a>
      </li>
      <li>
        <a routerLink="custome">Custom Obserable</a>
      </li>
      <li>
        <a routerLink="map">Map</a>
      </li>
      <li>
        <a routerLink="pluck">Pluck</a>
      </li>
      <li>
        <a routerLink="filter">Filter</a>
      </li>
      <li>
        <a (click)="tab()">Tap</a>
      </li>
      <li>
        <a routerLink="take">Take,TakeUntill,TakeLast</a>
      </li>
      <li>
        <a routerLink="retry">Retry,RetryWhen,Delay</a>
      </li>
      <li>
        <a routerLink="debounce">Debounce,DebounceTime</a>
      </li>
      
      <li>
        <a routerLink="subject">Subject</a>
      </li>
      <li>
        <a routerLink="reply-subject">ReplaySubject</a>
      </li>
      <li>
        <a routerLink="async-subject">AsyncSubject</a>
      </li>
      <li>
        <a routerLink="concateMap">Concate</a>
      </li>
      <li>
        <a routerLink="merge">merge</a>
      </li>
      <li>
        <a routerLink="mergeMap">MergeMap</a>
      </li>
      <li>
        <a routerLink="concateMaps">ConcateMap</a>
      </li>
      <li>
        <a routerLink="switchMap">SwitchMap</a>
      </li>
      <li>
        <a routerLink="forkJoin">Fork Join</a>
      </li>
    </ul>
  </div>
</div>
